.bin

HELP.md
target/
.mvn/
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### Project-specific ###
keycloak-fapi-conformance-suite/test-runner/report/
keycloak-fapi-conformance-suite/test-runner/.idea/**
keycloak-fapi-conformance-suite/test-runner/.mvn
keycloak-fapi-conformance-suite/test-runner/mvnw
keycloak-fapi-conformance-suite/test-runner/mvnw.cmd
keycloak-fapi-conformance-suite/test-runner/*.iml
conformance-suite/report/